<div class="span3 offset6">
	<h1>Add A Car</h1>
<% form_for @car do |form| %>

<%= form.label :Type %>
<%= form.text_field :typeofcar, :class => "span3",:id=>'typeofcar' %>
</p>
<p>
<%= form.label :seats %><br />
<%= form.text_field :seats,:class => "span3",:id=>'seats' %>
</p>
<%= form.submit "Add" , :class => 'btn btn-success',:id=>'car_create_button'%>
<% end %>
</div>